<a href="https://colab.research.google.com/github/tngus18/gongboohaeboza/blob/main/programers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

프로그래머스 문제  : 정수리스트 거꾸로 반환환

In [16]:
num_list =  [[1, 2, 3, 4, 5], [1, 1, 1, 1, 1, 2], [1, 0, 1, 1, 1, 3, 5]]

In [17]:
for a in num_list:
    a.reverse()
print(num_list)

[[5, 4, 3, 2, 1], [2, 1, 1, 1, 1, 1], [5, 3, 1, 1, 1, 0, 1]]

In [32]:
# num_list.reverse

In [19]:
num_list

[[5, 4, 3, 2, 1], [2, 1, 1, 1, 1, 1], [5, 3, 1, 1, 1, 0, 1]]

-------------------------------------------------

In [20]:
# 값이 나오는게 아니라 자체를 변경 num_list.reverse()
def solution (num_list):
    num_list.reverse()
    return num_list

In [21]:
num_list1 =  [[1, 2, 3, 4, 5], [1, 1, 1, 1, 1, 2], [1, 0, 1, 1, 1, 3, 5]]

In [22]:

def solution (num_list1):
    for a in num_list1:
        a.reverse()
        return num_list1

In [23]:
solution(num_list1)

[[5, 4, 3, 2, 1], [1, 1, 1, 1, 1, 2], [1, 0, 1, 1, 1, 3, 5]]

In [24]:
num =  [[1, 2, 3, 4, 5], [1, 1, 1, 1, 1, 2], [1, 0, 1, 1, 1, 3, 5]]

----------------------

In [25]:
# return 값을 한 줄에 작성
def solution (num):
    return [list(reversed(a)) for a in num]

In [26]:
solution(num)

[[5, 4, 3, 2, 1], [2, 1, 1, 1, 1, 1], [5, 3, 1, 1, 1, 0, 1]]

-------------

In [27]:
# 인덱스 값, 리스트 안의 a 값
# for in 문 안에서 인덱스와 리스트 나눠주고 num의 인덱스를 정의하고 리스트의 a 값을 reverse 해줌
for i, a in enumerate(num):
    num[i] = list(reversed(a))
print(num)

[[5, 4, 3, 2, 1], [2, 1, 1, 1, 1, 1], [5, 3, 1, 1, 1, 0, 1]]

In [28]:
num =  [[1, 2, 3, 4, 5], [1, 1, 1, 1, 1, 2], [1, 0, 1, 1, 1, 3, 5]]

--------한줄완성---------

In [29]:
def solution(num):
    return num[::-1]

In [30]:
solution(num)

[[1, 0, 1, 1, 1, 3, 5], [1, 1, 1, 1, 1, 2], [1, 2, 3, 4, 5]]

짝수 홀수 개수

In [53]:
num_list=[1,2,3,4,5]

In [65]:
def solution(num_list):
    even_cnt, odd_cnt = 0, 0

    for i in num_list:
        if i%2:                        # if 에 들어가는 값이 0이 아니면 무조건 true
            odd_cnt += 1               # true 라면 홀수기 때문에.
        else:
            even_cnt += 1
    return [even_cnt, odd_cnt]

In [66]:
solution(num_list)

[2, 3]

-------------------------------

In [67]:
def solution(num_list):
    answer = [0,0]
    for n in num_list:
        answer[n%2]+=1
    return answer

In [69]:
solution(num_list)

[2, 3]

짝수의 합

In [88]:
n = 4

In [106]:
def solution (n):
    answer = 0
    for i in range(2, n+1, 2):
        answer += i
    return answer

In [107]:
solution(n)

6

배열의 원소길이 구하기기

In [108]:
strlist = ["We", "are", "the", "world!"]

In [139]:
type(strlist)

list

In [163]:
def solution(strlist):
    answer = []
    for i in range(len(strlist)):
        answer.append(len(strlist[i]))
    return answer

In [164]:
solution(strlist)

[2, 3, 3, 6]

-----------------------

In [165]:
def solution(strlist):
    return [len(str) for str in strlist]

In [166]:
solution(strlist)

[2, 3, 3, 6]