<a href="https://colab.research.google.com/github/tngus18/gongboohaeboza/blob/main/programers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

프로그래머스 문제  : 정수리스터 거꾸로 반환환

In [16]:
num_list =  [[1, 2, 3, 4, 5], [1, 1, 1, 1, 1, 2], [1, 0, 1, 1, 1, 3, 5]]

In [17]:
for a in num_list:
    a.reverse()
print(num_list)

[[5, 4, 3, 2, 1], [2, 1, 1, 1, 1, 1], [5, 3, 1, 1, 1, 0, 1]]

In [32]:
# num_list.reverse

In [19]:
num_list

[[5, 4, 3, 2, 1], [2, 1, 1, 1, 1, 1], [5, 3, 1, 1, 1, 0, 1]]

-------------------------------------------------

In [20]:
# 값이 나오는게 아니라 자체를 변경 num_list.reverse()
def solution (num_list):
    num_list.reverse()
    return num_list

In [21]:
num_list1 =  [[1, 2, 3, 4, 5], [1, 1, 1, 1, 1, 2], [1, 0, 1, 1, 1, 3, 5]]

In [22]:

def solution (num_list1):
    for a in num_list1:
        a.reverse()
        return num_list1

In [23]:
solution(num_list1)

[[5, 4, 3, 2, 1], [1, 1, 1, 1, 1, 2], [1, 0, 1, 1, 1, 3, 5]]

In [24]:
num =  [[1, 2, 3, 4, 5], [1, 1, 1, 1, 1, 2], [1, 0, 1, 1, 1, 3, 5]]

----------------------

In [25]:
# return 값을 한 줄에 작성
def solution (num):
    return [list(reversed(a)) for a in num]

In [26]:
solution(num)

[[5, 4, 3, 2, 1], [2, 1, 1, 1, 1, 1], [5, 3, 1, 1, 1, 0, 1]]

-------------

In [27]:
# 인덱스 값, 리스트 안의 a 값
# for in 문 안에서 인덱스와 리스트 나눠주고 num의 인덱스를 정의하고 리스트의 a 값을 reverse 해줌
for i, a in enumerate(num):
    num[i] = list(reversed(a))
print(num)

[[5, 4, 3, 2, 1], [2, 1, 1, 1, 1, 1], [5, 3, 1, 1, 1, 0, 1]]

In [28]:
num =  [[1, 2, 3, 4, 5], [1, 1, 1, 1, 1, 2], [1, 0, 1, 1, 1, 3, 5]]

In [29]:
def solution(num):
    return num[::-1]

In [30]:
solution(num)

[[1, 0, 1, 1, 1, 3, 5], [1, 1, 1, 1, 1, 2], [1, 2, 3, 4, 5]]